
    <div class="content-form">
        <h3>Bir Komment Yazin</h3>
       
        <form method="post">
            <input type="text" placeholder="ID" name="BlogId" value=" @ViewBag.deger" required  />
            <input type="text" placeholder="Istifadeci Adi" name="KullaniciAdi" required />
            <input type="text" placeholder="Mail Unvani" required name="Mail" />
            <textarea placeholder="Komment" name="Yorum"></textarea>
            <input type="submit" value="Göndər" />
        </form>
    </div>