
@{
    Layout = null;
}

<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Oteller</title>
    <link rel="stylesheet" href="~/WHotel/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   
    
</head>
<body>
    <div class="agile">
        <h1>Qaldigim ve beyendiyim oteller</h1>
        
        <div class="agileinfo">
            <div class="wthree-left">
               
                <!--<h6>125 Hotels</h6>-->
                <div class="wthree-top">
                    <h4>En Meshurlari</h4>
                    <ul>
                        <li><a style="color:#ffffff" href="https://www.orlandomeeting.com/meetings/orange-county-convention-center/?utm_source=google_ads&utm_medium=paidsearch&utm_campaign=VO-M%26C&dclid=&gclid=Cj0KCQjw5ZSWBhCVARIsALERCvy3K5RgrZsBbkMUt3s4bVyYUMk1LN6SgSrqGM0ieRvVa4T5KkBnGXoaAqnkEALw_wcB">1.Orlando</a></li>
                        
                        
                        <li><a style="color:#ffffff" href="https://www.anantara.com/en/villa-padierna-marbella?campid=8435708&utm_campaign=paid-search_brand&utm_source=google&utm_term=english-all&utm_medium=paid-search&gclid=Cj0KCQjw5ZSWBhCVARIsALERCvykfOm4fVxyvG8Fv1GrxIgEWuH2btSw1Iv8bwrEfapduc2UDl3a9zcaAj6wEALw_wcB">2.Anantara Villa</a></li>
                        
                        <li><a style="color:#ffffff" href="https://berlin.sanahotels.com/special-offers/january-sale-2022?gclid=Cj0KCQjw5ZSWBhCVARIsALERCvxZJ4CpqI3Wa_pJdXHC2ff-DD8IuB0iQjbVLUylbxFzMdTZNwCeL34aApOJEALw_wcB">3.SANA Berlin Hotel</a></li>
                        
                        <li><a style="color:#ffffff" href="https://www.lagavina.com/">4.Hostel De La Gavina</a></li>
                        
                        <li><a style="color:#ffffff" href="https://www.kozmohotelbudapest.com/">5.Kozmo Hotel Suites & Spa </a></li>
                        
                        <li><a style="color:#ffffff" href="https://www.anantara.com/en/palazzo-naiadi-rome?campid=8435708&utm_campaign=paid-search_brand&utm_source=google&utm_term=english-all&utm_medium=paid-search&gclid=Cj0KCQjw5ZSWBhCVARIsALERCvy9q_qVif5rJhRLC_Qe6FCPW0IOljGDGm6lnVcd4phxyBmnzO4NK9YaAi_BEALw_wcB">6.Anantara Palazzo Naiadi Rome</a></li>

                        <div class="clear"> </div>
                    </ul>
                </div>
                <div class="view">
                    <a href="/Default/Index">Sayta Geri Don</a>
                </div>
             
            </div>
            
            <div class="clear"> </div>
        </div>
        <div class="footer">
            <p>&copy; 2022 Travel Agency Widget. Butun Huquqlar Qorunur | Design by <a href="http://w3layouts.com">W3layouts</a></p>
        </div>

    </div> 
</body>
</html>
